// paleta de colores

$header: #212529;

$hr: #00CC9C;

$color-principal: #1c2833;

$color-texto: whitesmoke;

$h1: teal;

$color-footer: #78909C;


//Colores campanias
$color-campaniasp: #00CC9C;
$color-campaniash: #0AA3BA; 
$estilos-campanias: #001B20;